<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.telechaplaincy">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".patient_profile.PatientAppointmentPersonalInfo"></activity>
        <activity android:name=".patient_profile.PatientProfileActivity" />
        <activity android:name=".chaplain_profile.ChaplainProfileActivity" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chaplain.ChaplainMainActivity" />
        <activity
            android:name=".chaplain_sign_activities.ChaplainSignUpSecondPart"
            android:theme="@style/ChaplainSignUpPageTheme" />
        <activity android:name=".MainEntry" />
        <activity
            android:name=".chaplain_sign_activities.ChaplainSignUp"
            android:parentActivityName=".chaplain_sign_activities.ChaplainLogIn" />
        <activity android:name=".chaplain_sign_activities.ChaplainLogIn" />
        <activity
            android:name=".patient_sign_activities.ForgotPassword"
            android:parentActivityName=".patient_sign_activities.LoginPage" />
        <activity
            android:name=".patient.PatientMainActivity"
            android:theme="@style/PatientMainActivityTheme" />
        <activity
            android:name=".patient_sign_activities.SignUpActivity"
            android:parentActivityName=".patient_sign_activities.LoginPage" />
        <activity android:name=".patient_sign_activities.LoginPage" />
    </application>

</manifest>